<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="SportsID">
        <classes>
            <class name="com.qa.runners.SystemTestPixel2XLTestNGRunnerTest"/>
<!--            <class name="com.qa.runners.OnBoardingPixel2XLTestNGRunnerTest"/>-->
        </classes>
    </test>
</suite> <!-- Suite -->